<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>
    <body
        class="bg-zinc-900 text-white flex items-center justify-center"
    >
        <div
            class="container mt-8 max-w-sm flex flex-col items-center justify-center"
        >
            <%- include('./partials/header.ejs') %> 
            <%- include('./partials/main.ejs') %> 
            <%- include('./partials/footer.ejs') %>
        </div>
        <script src="js/index.js"></script>
    </body>
</html>
