<table class="text-left text-sm w-full mb-10 mt-8">
    <tr >
        <th class="px-2 py-2 border text-lg bg-emerald-900">Nome</th>
        <th class="px-2 py-2 border text-lg bg-emerald-900">Email</th>
        <th class="px-2 py-2 border text-lg bg-emerald-900">Ações</th>
    </tr>
    <% users.forEach(user => { %>
    <tr class="">
        <td class="px-2 py-2 border "><strong><%= user.name %></strong></td>
        <td class="px-2 py-2 border text-zinc-400"><%= user.email %></td>
        <td class="px-2 py-2 border text-zinc-400 text-center">
            <button class="action-delete hover:text-red-700">Excluir</button>
            <button class="action-edit hover:text-yellow-500">Editar</button>
        </td>
    </tr>
    <% }); %>
</table>